Brotli==1.0.9
brotlipy==0.7.0
certifi==2021.10.8
click==8.0.3
dash==2.2.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.1.2
dash-table==5.0.0
Flask-Compress==1.5.0
mkl-fft==1.3.1
mkl-service==2.4.0
pandas==1.4.1
pytz==2021.3
PyYAML==6.0
